# Node / Frontend
frontend/node_modules/
frontend/dist/
frontend/.env

# Backend
backend/vendor/
backend/.env

# Base de données
db_data/

# Docker
*.log
*.pid
*.sock

# Git
.git/
.gitignore

# IDE
.vscode/
.idea/
*.iml

# OS
.DS_Store
Thumbs.db
